## .NET
bin/
obj/
*.user
*.suo
.vs/
_ReSharper*/
*.resharper
*.DotSettings.user

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
packages/
!**/packages/repositories.config
*.nuget.props
*.nuget.targets

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
*.trx

## General
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
